@import url('color.css');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 1em 0;
    text-align: center;
}

main {
    padding: 2em;
}

button {
    background-color: var(--button-color);
    border: none;
    color: white;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 0.5em 0;
    cursor: pointer;
    border-radius: 0.25em;
}

button:hover {
    background-color: var(--button-hover-color);
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.pricing {
    text-align: center;
    margin-top: 2em;
}

.pricing-cards {
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
}

.card {
    background-color: var(--card-background-color);
    border: 1px solid var(--card-border-color);
    box-shadow: 0 2px 4px var(--card-shadow-color);
    padding: 1em;
    border-radius: 0.5em;
    width: 200px;
    text-align: left;
}

.card h3 {
    margin-top: 0;
}

.card .price {
    color: var(--card-price-color);
    font-size: 1.5em;
    margin: 0.5em 0;
}

.card ul {
    list-style-type: none;
    padding: 0;
}

.card ul li {
    margin: 0.5em 0;
}

.card.highlight {
    background-color: var(--primary-color);
    border: 2px solid var(--highlight-border-color);
    box-shadow: 0 4px 8px var(--highlight-shadow-color);
    transform: scale(1.05);
}

.card.highlight .price {
    color: var(--secondary-color);

}
