
@import url('color.css');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 1em 0;
    text-align: center;
}

main {
    padding: 2em;
}

button {
    background-color: var(--button-color);
    border: none;
    color: white;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 0.5em 0;
    cursor: pointer;
    border-radius: 0.25em;
}

button:hover {
    background-color: var(--button-hover-color);
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
